.song-card {
    display: flex;
    align-items: center;
    height: 56px;
    position: relative;
    border-radius: 4px;
}

.song-card:hover {
    background-color: hsla(0,0%,100%,.1);
}

.track-number {
    font-size: 16px;
    color: #B3B3B3;
    margin: 0;
    margin-left: 16px;
}

.song-details-container {
    margin-left: 16px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.track-name {
    font-size: 16px;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.artist-links {
    color: #B3B3B3;
    margin: 0;
}

.song-heart-icon {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 120px;
}

.song-heart-icon:hover {
    cursor: pointer;
}

.percent-streamed-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 4px;
    color: #282828;
    position: absolute;
    right: 400px;
    transform: translateX(50%);
    height: 30px;
}

.percent-streamed-container:hover {
    cursor: default;
}

.loading-percent-streamed-container {
    width: 135px;
    border-radius: 4px;
    color: #5a5a5a;
    position: absolute;
    right: 400px;
    transform: translateX(50%);
    height: 30px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: #5a5a5a;
    }
    100% {
        background-color: #353535;
    }
}

.track-length {
    color: #B3B3B3;
    position: absolute;
    right: 48px;
}

.play-count {
    position: absolute;
    right: 400px;
    top: -25px;
    color: #B3B3B3;
    background-color: #282828;
    padding: 6px 10px;
    border-radius: 5px;
    transform: translateX(50%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    opacity: 0;
    animation: fade-in .2s linear;
}

.percent-streamed-container:hover ~ .play-count {
    opacity: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.artist-links {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .percent-streamed-container,
    .loading-percent-streamed-container {
        right: 90px;
    }
    .song-heart-icon {
        right: 200px;
    }

    .track-length {
        display: none;
    }
}

@media (max-width: 600px) {
    .song-heart-icon {
        right: 55px;
    }

    .percent-streamed-container,
    .loading-percent-streamed-container {
        right: 20px;
        border-radius: 500px;
        width: 10px;
        padding: 0 10px;
    }
}