.dashboard-container,
.saved-album-container {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}

.dashboard-container {
    position: relative;
}

.back-button,
.forward-button {
    position: absolute;
    height: 40px;
    top: 2px;
}

.mobile-back-button,
.mobile-forward-button {
    display: none;
    height: 40px;
    position: fixed;
    top: 50%;
    transform:  translate(0, -50%);
}

.mobile-back-button {
    left: 10px;
}

.mobile-forward-button {
    right: 10px;
}

.back-button:hover,
.forward-button:hover {
    cursor: pointer;
}

.back-button {
    left: 215px;
}

.forward-button {
    left: 265px;
}

.heading {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
    color: #fff;;
}

.saved-album-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.sort-button {
    position: absolute;
    color: #fff;
    top: 0px;
    right: 20px;
    background-color: #000;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 500px;
}

.sort-button:hover {
    cursor: pointer;
    background-color: #242424;
}

.arrow-icon {
    height: 10px;
}

.skips-dropdown {
    box-sizing: border-box;
    position: absolute;
    width: 196px;
    background-color: #282828;
    top: 42px;
    right: 22px;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.skips-dropdown-button {
    box-sizing: border-box;
    width: 188px;
    height: 40px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    border-radius: 2px;
    color: hsla(0,0%,100%,.9);
}

.skips-dropdown-button:hover {
    background-color: hsla(0,0%,100%,.1);
    cursor: pointer;
}

.inactive {
    opacity: 0.6;
}

.inactive:hover {
    cursor: not-allowed;
}

@media (max-width: 1630px) {

    .dashboard-container,
    .saved-album-container {
        width: 1280px;
    }

    .saved-album-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1350px) {

    .dashboard-container,
    .saved-album-container {
        width: 960px;
    }

    .saved-album-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {

    .dashboard-container,
    .saved-album-container {
        width: 640px;
    }

    .saved-album-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {

    .dashboard-container,
    .saved-album-container {
        width: 300px;
    }

    .saved-album-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .heading {
        font-size: 25px;
    }

    .back-button,
    .forward-button {
        display: none;
    }

    .sort-button {
        right: 0;
    }

    .mobile-back-button,
    .mobile-forward-button {
        display: block;
    }
}

@media (max-width: 375px) {
    .mobile-back-button,
    .mobile-forward-button {
        height: 25px;
    }

    .mobile-back-button {
        left: 5px;
    }

    .mobile-forward-button {
        right: 5px;
    }
}

@media (max-width: 320px) {
    .dashboard-container,
    .saved-album-container {
        width: 200px;
    }
    .heading {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
}