.log-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-in-error-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.log-in-error-icon {
    height: 20px;
    margin-right: 5px;
}

.log-in-error-message {
    color: red;
    margin: 0;
    font-size: 20px;
}

.line-break {
    width: 450px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.login-footer {
    color: #fff;
    font-weight: bold;
    font-size: 1.125rem;
    padding-bottom: 20px;
    margin: 0;
}

.signup-redirect-button {
    color: #fff;
    font-weight: bold;
    font-size: .875rem;
    text-decoration: none;
    padding: 15px 135px;
    border-radius: 500px;
    border: 1px solid #A7A7A7;
}

.signup-redirect-button:hover {
    border-color: #fff;
}

.hidden {
    display: none;
}

.spotify-log-in-button {
    margin-bottom: 30px;
    width: 450px;
    height: 48px;
    border: none;
    border-radius: 500px;
    font-size: 15px;
    font-weight: bold;
    background-color: #1ED760;
    color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-log-in-button img {
    height: 20px;
    margin-right: 10px;
}

.spotify-log-in-button:hover {
    cursor: pointer;
    color: #fff;
}

.login-or-container {
    display: flex;
    justify-content: center;
    width: 450px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    /* margin-top: 0px; */
    margin-bottom: 20px;
}

.login-or-line {
    width: 44%;
    height: 1px;
    border: none;
    border-top: 1px solid white;
    margin-top: 7px;
}

.login-or-text {
    margin: 0 20px;
}