.fake-artist-thumbnail {
    width: 170px;
    height: 170px; 
    border-radius: 500px;
    margin-top: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
    animation: skeleton-loading 1s linear infinite alternate;
}

.fake-artist-name {
    height: 18px;
    width: 70%;
    background-color: black;
    border-radius: 7px;
    margin-top: 15px;
    animation: skeleton-loading 1s linear infinite alternate;
}

.fake-artist-tag {
    height: 17px;
    width: 40%;
    background-color: black;
    border-radius: 7px;
    margin-top: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: #5a5a5a;
    }
    100% {
        background-color: #353535;
    }
}

@media (max-width: 400px) {
    .artist-card {
        width: 100%;
        height: 80px;
        background: transparent;
    }

    .artist-card:hover {
        background-color: #282828;
    }

    .artist-content-box {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .fake-artist-thumbnail {
        height: 60px;
        width: 60px;
        position: absolute;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
    }

    .fake-artist-name {
        position: relative;
        margin: 0;
        top: 20px;
        left: 80px;
        width: 100px;
    }
    .fake-artist-tag {
        position: relative;
        margin: 0;
        top: 25px;
        left: 80px;
        width: 70px;
    }
}