.search-bar {
    width: 100%;
    height: 100%;
    padding: 6px 48px;
    box-sizing: border-box;
    border-radius: 500px;
    border: 0;
    font-size: 0.875rem;
}

.search-bar:focus {
    outline: none;
    border: none;
}

.search-form {
    width: 600px;
    box-sizing: border-box;
    height: 40px;
    margin-left: 50px;
    position: relative;
}

.magnifying-glass-icon {
    height: 20px;
    position: absolute;
    left: 13px;
    top: 10px
}

.search-form {
    transition: .7s;
}


@media (max-width: 1200px) {
    .search-form {
        width: 300px;
    } 
}

@media (max-width: 850px) {
    .search-form {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .search-bar {
        padding-left: 20px;
        padding-right: 0;
    }
    .magnifying-glass-icon {
        display: none;
    }
}

@media (max-width: 360px) {
    .search-bar::placeholder {
        content: 'Search';
    }
}