.fake-artist-heading {
    height: 370px;
    width: 100%;
    animation: skeleton-loading 1s linear infinite alternate;
}

.fake-album-tag {
    height: 38px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    animation: skeleton-loading 1s linear infinite alternate;
}


@keyframes skeleton-loading {
    0% {
        background-color: #5a5a5a;
    }
    100% {
        background-color: #353535;
    }
}

@media (max-width: 1200px) {    
    .fake-artist-heading {
        height: 300px;
    }
}

@media (max-width: 850px) {   
    .fake-artist-heading {
        height: 250px;
    }
}

@media (max-width: 600px) {        
    .fake-artist-heading {
        height: 200px;
    }
}

@media (max-width: 320px) {    
    .fake-artist-heading {
        height: 150px;
    }
}